.header {
	text-decoration-color: cadetblue;
}

.button {
	text-decoration: solid;
	background-color: aliceblue;
	height: 45px;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.input {
	background-color: aliceblue;
	height: 45px;
	width: 500px;
}
